{% set mgmt_ip_addr, mgmt_cidr = mgmt_ip.split('/') %}
configure terminal

hostname {{ hostname }}

username {{ username }} password 0 {{ password }} role network-admin

feature ssh
ssh login-attempts 2

ip access-list OOB-ACL
{% for entry in acl_entries %}
  remark {{ entry.remark }}
  {% if entry.protocol == 'ip' %}
    {{ entry.action }} ip {{ entry.src_ip }} host {{ mgmt_ip_addr }}
  {% else %}
    {% if entry.port == 'any' %}
      {{ entry.action }} {{ entry.protocol }} {{ entry.src_ip }} host {{ mgmt_ip_addr }}
    {% else %}
      {{ entry.action }} {{ entry.protocol }} {{ entry.src_ip }} host {{ mgmt_ip_addr }} eq {{ entry.port }}
    {% endif %}
  {% endif %}
{% endfor %}
exit

line vty
  session-limit {{ session_limit }}
  exec-timeout 300
  absolute-timeout 300
  logout-warning 60
  ip access-class OOB-ACL in
exit

vrf context management
  ip route 0.0.0.0/0 {{ mgmt_gw }}
exit

interface mgmt0
  description INIT-CONFIG-PY
  ip address {{ mgmt_ip }}
  ip access-group OOB-ACL in
  lldp recieve
  lldp transmit
  vrf member management
  no shutdown
exit

feature nxapi
nxapi redirect http-to-https
nxapi https port {{ nxapi_port }}
nxapi sandbox
nxapi use-vrf management
nxapi idle-timeout 1440
nxapi certificate httpscrt certfile bootflash:nxapi/{{ hostname }}-nxapi-cert.pem
nxapi certificate httpskey keyfile bootflash:nxapi/{{ hostname }}-nxapi-key.pem
nxapi certificate enable

end

copy running-config startup-config

show interface mgmt0
ssh key rsa
show ssh key
show nxapi
